openapi: 3.2.0
info:
  title: TruVideo Platform Users API
  version: v2
  description: 'REST API for the TruVideo omnichannel video-and-messaging platform for service businesses (built for the automotive service market: dealers, service advisors, technicians, repair orders and customers).'
  contact:
    name: TruVideo Developer Team
    email: devmgr+git@truvideo.com
    url: https://truvideo.com/software-partnerships/
  x-generated-by: api-evangelist-enrichment
  x-source: https://github.com/Truvideo/Documentation
servers:
- url: https://app.truvideo.com
  description: Production
- url: https://dev.truvideo.com
  description: Sandbox / test (requires a TruVideo Sandbox account; may be gated)
security:
- bearerAuth: []
tags:
- name: Users
paths:
  /api/v2/{accountId}/user:
    get:
      tags:
      - Users
      operationId: listUsers
      summary: Get all users
      description: Gets all users of an account (paginated).
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/size'
      responses:
        '200':
          description: Paged list of users
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Page'
                - type: object
                  properties:
                    content:
                      type: array
                      items:
                        $ref: '#/components/schemas/User'
components:
  parameters:
    page:
      name: page
      in: query
      required: false
      description: Zero-based page number (default 0).
      schema:
        type: integer
        default: 0
    size:
      name: size
      in: query
      required: false
      description: Records per page (default 25).
      schema:
        type: integer
        default: 25
    accountId:
      name: accountId
      in: path
      required: true
      description: Dealer / account id. Present on all account-scoped requests.
      schema:
        type: integer
        format: int64
  schemas:
    Page:
      type: object
      description: Spring-style pagination envelope wrapping a content array.
      properties:
        totalPages:
          type: integer
        totalElements:
          type: integer
        last:
          type: boolean
        first:
          type: boolean
        size:
          type: integer
        number:
          type: integer
        numberOfElements:
          type: integer
        sort:
          type:
          - object
          - 'null'
    User:
      type: object
      properties:
        id:
          type: integer
          format: int64
        firstName:
          type: string
        lastName:
          type: string
        title:
          type: string
        mobileNumber:
          type: string
        email:
          type: string
          format: email
        status:
          type: string
          example: Approved
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT bearer token obtained from POST /api/v2/authentication/login.
