openapi: 3.0.3
info:
  title: TruVideo Platform Authentication Videos API
  version: v2
  description: 'REST API for the TruVideo omnichannel video-and-messaging platform for service businesses (built for the automotive service market: dealers, service advisors, technicians, repair orders and customers). Covers authentication, users, dealers, repair orders, videos, messaging conversations, customers, files, in-app chat, reporting and support. Faithfully reconstructed from TruVideo''s published API documentation (github.com/Truvideo/Documentation); TruVideo does not publish a machine readable OpenAPI definition of its own.'
  contact:
    name: TruVideo Developer Team
    email: devmgr+git@truvideo.com
    url: https://truvideo.com/software-partnerships/
  x-generated-by: api-evangelist-enrichment
  x-source: https://github.com/Truvideo/Documentation
servers:
- url: https://app.truvideo.com
  description: Production
- url: https://dev.truvideo.com
  description: Sandbox / test (requires a TruVideo Sandbox account; may be gated)
security:
- bearerAuth: []
tags:
- name: Videos
paths:
  /api/v2/{accountId}/videos:
    get:
      tags:
      - Videos
      operationId: searchVideos
      summary: Search videos
      parameters:
      - $ref: '#/components/parameters/accountId'
      - name: searchTerm
        in: query
        schema:
          type: string
        description: Searches across Title and Description
      - name: dealerId
        in: query
        schema:
          type: integer
          format: int64
      - name: orderId
        in: query
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/size'
      responses:
        '200':
          description: Paged videos
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Page'
                - type: object
                  properties:
                    content:
                      type: array
                      items:
                        $ref: '#/components/schemas/Video'
    post:
      tags:
      - Videos
      operationId: createVideo
      summary: Create video
      parameters:
      - $ref: '#/components/parameters/accountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VideoInput'
      responses:
        '200':
          description: Created video
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Video'
  /api/v2/{accountId}/videos/{id}:
    get:
      tags:
      - Videos
      operationId: getVideo
      summary: Get video by id
      parameters:
      - $ref: '#/components/parameters/accountId'
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: The video
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Video'
        '404':
          description: Video not found
  /api/v2/{accountId}/video/{id}:
    put:
      tags:
      - Videos
      operationId: updateVideo
      summary: Update video
      parameters:
      - $ref: '#/components/parameters/accountId'
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VideoInput'
      responses:
        '200':
          description: Updated video
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Video'
components:
  parameters:
    size:
      name: size
      in: query
      required: false
      description: Records per page (default 25).
      schema:
        type: integer
        default: 25
    page:
      name: page
      in: query
      required: false
      description: Zero-based page number (default 0).
      schema:
        type: integer
        default: 0
    accountId:
      name: accountId
      in: path
      required: true
      description: Dealer / account id. Present on all account-scoped requests.
      schema:
        type: integer
        format: int64
  schemas:
    Page:
      type: object
      description: Spring-style pagination envelope wrapping a content array.
      properties:
        totalPages:
          type: integer
        totalElements:
          type: integer
        last:
          type: boolean
        first:
          type: boolean
        size:
          type: integer
        number:
          type: integer
        numberOfElements:
          type: integer
        sort:
          type: object
          nullable: true
    VideoInput:
      type: object
      required:
      - title
      - url
      properties:
        title:
          type: string
        description:
          type: string
        url:
          type: string
          format: uri
        thumbnail:
          type: string
          format: uri
        length:
          type: integer
        lastViewedDate:
          type: integer
          format: int64
          nullable: true
        playedDuration:
          type: integer
          nullable: true
        uploaderId:
          type: integer
          format: int64
        orderId:
          type: integer
          format: int64
    Video:
      allOf:
      - $ref: '#/components/schemas/VideoInput'
      - type: object
        properties:
          id:
            type: integer
            format: int64
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT bearer token obtained from POST /api/v2/authentication/login.
