openapi: 3.0.3
info:
  title: TruVideo Platform API
  version: v2
  description: >-
    REST API for the TruVideo omnichannel video-and-messaging platform for
    service businesses (built for the automotive service market: dealers,
    service advisors, technicians, repair orders and customers). Covers
    authentication, users, dealers, repair orders, videos, messaging
    conversations, customers, files, in-app chat, reporting and support.
    Faithfully reconstructed from TruVideo's published API documentation
    (github.com/Truvideo/Documentation); TruVideo does not publish a machine
    readable OpenAPI definition of its own.
  contact:
    name: TruVideo Developer Team
    email: devmgr+git@truvideo.com
    url: https://truvideo.com/software-partnerships/
  x-generated-by: api-evangelist-enrichment
  x-source: https://github.com/Truvideo/Documentation
servers:
  - url: https://app.truvideo.com
    description: Production
  - url: https://dev.truvideo.com
    description: Sandbox / test (requires a TruVideo Sandbox account; may be gated)
tags:
  - name: Authentication
  - name: Users
  - name: Dealers
  - name: Repair Orders
  - name: Videos
  - name: Messages
  - name: Customers
  - name: Files
  - name: Chat
  - name: Reports
  - name: Support
security:
  - bearerAuth: []
paths:
  /api/v2/authentication/login:
    post:
      tags: [Authentication]
      operationId: authLogin
      summary: Login
      description: Logs the user into the system and returns a JWT access token for the passed credentials.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password }
      responses:
        '200':
          description: Access token issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string, description: JWT bearer token }
        '401': { description: Invalid credentials }
  /api/v2/authentication/logout:
    post:
      tags: [Authentication]
      operationId: authLogout
      summary: Logout
      description: Logs the user out of the system. Empty request and response body. Authorization header must be present.
      responses:
        '200': { description: Logged out }
        '401': { description: Missing or invalid token }
  /api/v2/{accountId}/user:
    get:
      tags: [Users]
      operationId: listUsers
      summary: Get all users
      description: Gets all users of an account (paginated).
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/size'
      responses:
        '200':
          description: Paged list of users
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      content:
                        type: array
                        items: { $ref: '#/components/schemas/User' }
  /api/v2/{accountId}/dealer/repairCondition:
    get:
      tags: [Dealers]
      operationId: getDealerRepairCondition
      summary: Get repair condition
      description: Gets whether the repair-condition feature is enabled for a dealer.
      parameters:
        - $ref: '#/components/parameters/accountId'
      responses:
        '200':
          description: Repair condition flag
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled: { type: boolean }
  /api/v2/{accountId}/repair-order/{orderId}:
    get:
      tags: [Repair Orders]
      operationId: getRepairOrder
      summary: Get order by id
      parameters:
        - $ref: '#/components/parameters/accountId'
        - name: orderId
          in: path
          required: true
          schema: { type: integer, format: int64 }
      responses:
        '200':
          description: The repair order
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RepairOrder' }
        '404': { description: Order not found }
  /api/v2/{accountId}/repair-order/status/{statusKey}:
    get:
      tags: [Repair Orders]
      operationId: listRepairOrdersByStatus
      summary: Get orders by status
      parameters:
        - $ref: '#/components/parameters/accountId'
        - name: statusKey
          in: path
          required: true
          schema: { type: string, example: STATUS_SENT }
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/size'
      responses:
        '200':
          description: Paged repair orders
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      content:
                        type: array
                        items: { $ref: '#/components/schemas/RepairOrder' }
  /api/v2/{accountId}/repair-order:
    post:
      tags: [Repair Orders]
      operationId: createRepairOrder
      summary: Create order
      parameters:
        - $ref: '#/components/parameters/accountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [number, customerName, mobileNumber]
              properties:
                number: { type: string }
                customerName: { type: string }
                customerLastName: { type: string }
                mobileNumber: { type: string }
                email: { type: string, format: email }
                sendNotifications: { type: boolean }
      responses:
        '200':
          description: Created repair order
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RepairOrder' }
  /api/v2/{accountId}/repair-order/{repairOrderId}:
    put:
      tags: [Repair Orders]
      operationId: updateRepairOrder
      summary: Update order
      parameters:
        - $ref: '#/components/parameters/accountId'
        - name: repairOrderId
          in: path
          required: true
          schema: { type: integer, format: int64 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                customerName: { type: string }
                customerLastName: { type: string }
                mobileNumber: { type: string }
                email: { type: string, format: email }
                serviceAdvisor: { type: integer, format: int64 }
      responses:
        '200':
          description: Updated repair order
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RepairOrder' }
  /api/v2/{accountId}/repair-order/search:
    get:
      tags: [Repair Orders]
      operationId: searchRepairOrders
      summary: Search orders
      description: >-
        Search orders by a term compared against customer first/last name, job
        service number and dealer name; optionally filtered by a creation-date
        interval and status.
      parameters:
        - $ref: '#/components/parameters/accountId'
        - { name: searchTerm, in: query, schema: { type: string } }
        - { name: status, in: query, schema: { type: string, example: STATUS_NEW } }
        - { name: creationDateFrom, in: query, schema: { type: integer, format: int64, description: Epoch millis } }
        - { name: creationDateTo, in: query, schema: { type: integer, format: int64, description: Epoch millis } }
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/size'
      responses:
        '200':
          description: Paged repair orders
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      content:
                        type: array
                        items: { $ref: '#/components/schemas/RepairOrder' }
  /api/v2/{accountId}/videos:
    get:
      tags: [Videos]
      operationId: searchVideos
      summary: Search videos
      parameters:
        - $ref: '#/components/parameters/accountId'
        - { name: searchTerm, in: query, schema: { type: string }, description: Searches across Title and Description }
        - { name: dealerId, in: query, schema: { type: integer, format: int64 } }
        - { name: orderId, in: query, schema: { type: integer, format: int64 } }
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/size'
      responses:
        '200':
          description: Paged videos
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      content:
                        type: array
                        items: { $ref: '#/components/schemas/Video' }
    post:
      tags: [Videos]
      operationId: createVideo
      summary: Create video
      parameters:
        - $ref: '#/components/parameters/accountId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/VideoInput' }
      responses:
        '200':
          description: Created video
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Video' }
  /api/v2/{accountId}/videos/{id}:
    get:
      tags: [Videos]
      operationId: getVideo
      summary: Get video by id
      parameters:
        - $ref: '#/components/parameters/accountId'
        - { name: id, in: path, required: true, schema: { type: integer, format: int64 } }
      responses:
        '200':
          description: The video
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Video' }
        '404': { description: Video not found }
  /api/v2/{accountId}/video/{id}:
    put:
      tags: [Videos]
      operationId: updateVideo
      summary: Update video
      parameters:
        - $ref: '#/components/parameters/accountId'
        - { name: id, in: path, required: true, schema: { type: integer, format: int64 } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/VideoInput' }
      responses:
        '200':
          description: Updated video
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Video' }
  /api/v2/{accountId}/messages/conversations:
    get:
      tags: [Messages]
      operationId: searchConversations
      summary: Search conversations
      parameters:
        - $ref: '#/components/parameters/accountId'
        - { name: orderId, in: query, schema: { type: integer, format: int64 } }
        - { name: customerId, in: query, schema: { type: integer, format: int64 } }
        - { name: status, in: query, schema: { type: string, enum: [ACTIVE, RESPONDED, CLOSED] } }
        - { name: searchTerm, in: query, schema: { type: string } }
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/size'
      responses:
        '200':
          description: Paged conversations
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      content:
                        type: array
                        items: { $ref: '#/components/schemas/Conversation' }
  /api/v2/{accountId}/messages/conversations/{conversationId}:
    get:
      tags: [Messages]
      operationId: getConversation
      summary: Get messages by conversation
      parameters:
        - $ref: '#/components/parameters/accountId'
        - { name: conversationId, in: path, required: true, schema: { type: integer, format: int64 } }
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/size'
      responses:
        '200':
          description: Conversation with paged messages
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Conversation' }
  /api/v2/{accountId}/messages:
    post:
      tags: [Messages]
      operationId: createMessage
      summary: Create message for conversation
      description: >-
        Create a new message. When conversationId is null a new conversation is
        started; otherwise the message is appended to the referenced conversation.
      parameters:
        - $ref: '#/components/parameters/accountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message, mobile]
              properties:
                conversationId: { type: integer, format: int64, nullable: true }
                source: { type: string, example: CONVERSATION }
                sender: { type: integer, format: int64 }
                order: { type: integer, format: int64 }
                mobile: { type: string }
                message: { type: string }
      responses:
        '203':
          description: Created (Location header points to the conversation)
          headers:
            Location:
              schema: { type: string }
  /api/v2/{accountId}/customer/validatePhoneNumber:
    post:
      tags: [Customers]
      operationId: validatePhoneNumber
      summary: Validate phone number
      parameters:
        - $ref: '#/components/parameters/accountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone]
              properties:
                phone: { type: string }
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: Valid }
                  validNumber: { type: string }
  /api/v2/{accountId}/reports/export/dealer-bible:
    post:
      tags: [Reports]
      operationId: exportDealerBible
      summary: Export Dealer Bible CSVs
      description: Exports orders in a time range for the given dealers as CSVs to the configured SFTP server.
      parameters:
        - $ref: '#/components/parameters/accountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dateFrom: { type: integer, format: int64 }
                dateTo: { type: integer, format: int64 }
                definition: { type: string, example: DEFAULT }
                dealers:
                  type: array
                  items: { type: integer, format: int64 }
      responses:
        '200': { description: Export triggered }
  /api/v2/{accountId}/reports/import/authenticom:
    post:
      tags: [Reports]
      operationId: importAuthenticom
      summary: Import Authenticom CSVs
      description: Processes unprocessed CSVs from Authenticom's FTP server, creating/updating the contained orders. Empty request and response body.
      parameters:
        - $ref: '#/components/parameters/accountId'
      responses:
        '200': { description: Import triggered }
  /api/v2/{accountId}/support/email:
    post:
      tags: [Support]
      operationId: sendSupportEmail
      summary: Send email to support
      description: Sends a diagnostic support email containing device and environment metadata.
      parameters:
        - $ref: '#/components/parameters/accountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dealerId: { type: string }
                dealerName: { type: string }
                userId: { type: string }
                appVersion: { type: string }
                dateTime: { type: string }
                phoneId: { type: string }
                phoneType: { type: string }
                phoneOsVersion: { type: string }
                comment: { type: string }
              additionalProperties: true
      responses:
        '200': { description: Support email sent }
  /files:
    post:
      tags: [Files]
      operationId: uploadFile
      summary: Upload file binary
      description: Uploads a file as a multipart request and returns its metadata.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file: { type: string, format: binary }
      responses:
        '200':
          description: File metadata
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FileMetadata' }
  /files/metadata/{uuid}:
    get:
      tags: [Files]
      operationId: getFileMetadata
      summary: Get file metadata
      parameters:
        - { name: uuid, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: File metadata
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FileMetadata' }
  /files/entity/{entityType}/{entityID}:
    get:
      tags: [Files]
      operationId: getFilesByEntity
      summary: Get files by entity
      parameters:
        - { name: entityType, in: path, required: true, schema: { type: string } }
        - { name: entityID, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: Files associated with the entity
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/EntityFile' }
    post:
      tags: [Files]
      operationId: assignFilesToEntity
      summary: Assign files to an entity
      parameters:
        - { name: entityType, in: path, required: true, schema: { type: string } }
        - { name: entityID, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  uuid: { type: string, format: uuid }
                  properties: { type: object, additionalProperties: true }
      responses:
        '200':
          description: Files associated
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/EntityFile' }
  /files/{url}:
    get:
      tags: [Files]
      operationId: getFileBinary
      summary: Get file binary
      parameters:
        - { name: url, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: Binary content
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
  /chat/authentication/{deviceId}:
    get:
      tags: [Chat]
      operationId: getChatToken
      summary: Get chat token
      description: Returns a custom authentication token for the device id.
      parameters:
        - { name: deviceId, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: Chat token
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
  /chats/contacts:
    get:
      tags: [Chat]
      operationId: getChatContacts
      summary: Get contacts
      parameters:
        - { name: searchTerm, in: query, schema: { type: string } }
        - { name: deviceId, in: query, schema: { type: string } }
        - { name: userId, in: query, schema: { type: string } }
        - { name: dealerId, in: query, schema: { type: integer, format: int64 } }
        - { name: status, in: query, schema: { type: string } }
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/size'
      responses:
        '200':
          description: Paged contacts
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Page'
                  - type: object
                    properties:
                      content:
                        type: array
                        items: { $ref: '#/components/schemas/Contact' }
  /chat/channel:
    post:
      tags: [Chat]
      operationId: createChatChannel
      summary: Create channel
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ChannelInput' }
      responses:
        '200':
          description: Created channel
          content:
            application/json:
              schema:
                type: object
                properties:
                  channelId: { type: integer, format: int64 }
  /chat/channel/{id}:
    post:
      tags: [Chat]
      operationId: updateChatChannel
      summary: Update channel
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer, format: int64 } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ChannelInput' }
      responses:
        '200':
          description: Updated channel
          content:
            application/json:
              schema:
                type: object
                properties:
                  channelId: { type: integer, format: int64 }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT bearer token obtained from POST /api/v2/authentication/login.
  parameters:
    accountId:
      name: accountId
      in: path
      required: true
      description: Dealer / account id. Present on all account-scoped requests.
      schema: { type: integer, format: int64 }
    page:
      name: page
      in: query
      required: false
      description: Zero-based page number (default 0).
      schema: { type: integer, default: 0 }
    size:
      name: size
      in: query
      required: false
      description: Records per page (default 25).
      schema: { type: integer, default: 25 }
  schemas:
    Page:
      type: object
      description: Spring-style pagination envelope wrapping a content array.
      properties:
        totalPages: { type: integer }
        totalElements: { type: integer }
        last: { type: boolean }
        first: { type: boolean }
        size: { type: integer }
        number: { type: integer }
        numberOfElements: { type: integer }
        sort: { type: object, nullable: true }
    User:
      type: object
      properties:
        id: { type: integer, format: int64 }
        firstName: { type: string }
        lastName: { type: string }
        title: { type: string }
        mobileNumber: { type: string }
        email: { type: string, format: email }
        status: { type: string, example: Approved }
    Dealer:
      type: object
      properties:
        id: { type: integer, format: int64 }
        name: { type: string }
        status: { type: string }
        phone: { type: string }
        supportNumber: { type: string }
        partner: { type: integer }
        distributor: { type: string, nullable: true }
        timeZone: { type: string }
    Advisor:
      type: object
      properties:
        id: { type: integer, format: int64 }
        firstName: { type: string, nullable: true }
        lastName: { type: string, nullable: true }
        title: { type: string }
        mobileNumber: { type: string }
        email: { type: string, format: email, nullable: true }
        status: { type: string }
    Customer:
      type: object
      properties:
        id: { type: integer, format: int64 }
        firstName: { type: string }
        lastName: { type: string }
        mobileNumber: { type: string }
        mobileStatus: { type: string, example: Valid }
        email: { type: string, format: email }
    RepairOrder:
      type: object
      properties:
        id: { type: integer, format: int64 }
        number: { type: string }
        status: { type: string }
        repairCondition: { type: string, nullable: true }
        originalAmount: { type: number, nullable: true }
        creationDate: { type: integer, format: int64, description: Epoch millis }
        updateDate: { type: integer, format: int64, description: Epoch millis }
        dealer: { $ref: '#/components/schemas/Dealer' }
        advisor: { $ref: '#/components/schemas/Advisor' }
        customer: { $ref: '#/components/schemas/Customer' }
    VideoInput:
      type: object
      required: [title, url]
      properties:
        title: { type: string }
        description: { type: string }
        url: { type: string, format: uri }
        thumbnail: { type: string, format: uri }
        length: { type: integer }
        lastViewedDate: { type: integer, format: int64, nullable: true }
        playedDuration: { type: integer, nullable: true }
        uploaderId: { type: integer, format: int64 }
        orderId: { type: integer, format: int64 }
    Video:
      allOf:
        - $ref: '#/components/schemas/VideoInput'
        - type: object
          properties:
            id: { type: integer, format: int64 }
    TextMessage:
      type: object
      properties:
        id: { type: integer, format: int64 }
        direction: { type: string, enum: [inbound, outbound] }
        sender: { type: string }
        receiver: { type: string }
        timestamp: { type: string, format: date-time }
        message: { type: string }
    Conversation:
      type: object
      properties:
        id: { type: integer, format: int64 }
        accountId: { type: integer, format: int64 }
        accountName: { type: string }
        ownerId: { type: integer, format: int64 }
        ownerName: { type: string }
        orderId: { type: integer, format: int64 }
        orderDescription: { type: string }
        customerId: { type: integer, format: int64 }
        customerMobile: { type: string }
        customerName: { type: string }
        status: { type: string, example: Open }
        type: { type: string, example: REPAIR_ORDER }
        lastTextMessage: { $ref: '#/components/schemas/TextMessage' }
        messages:
          allOf:
            - $ref: '#/components/schemas/Page'
            - type: object
              properties:
                content:
                  type: array
                  items: { $ref: '#/components/schemas/TextMessage' }
    FileMetadata:
      type: object
      properties:
        uuid: { type: string, format: uuid }
        url: { type: string, format: uri }
        name: { type: string }
        size: { type: integer }
        contentType: { type: string }
    EntityFile:
      type: object
      properties:
        metadata: { $ref: '#/components/schemas/FileMetadata' }
        position: { type: integer }
        properties: { type: object, additionalProperties: true }
    Contact:
      type: object
      properties:
        userId: { type: string }
        firstName: { type: string }
        lastName: { type: string }
        avatar_url: { type: string }
        title: { type: string }
        status:
          type: object
          properties:
            inOnline: { type: boolean }
            timestamp: { type: integer, format: int64 }
    ChannelInput:
      type: object
      properties:
        channelInfo:
          type: object
          properties:
            name: { type: string }
            admin: { type: string }
        member:
          type: array
          items: { type: string }
